* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    overflow-x: hidden !important; 
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
    color: #f97f31;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #f2f5f7;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 84vh;
    background: #f2f5f7;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.showcase {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/banner2.png') no-repeat center center/cover;
}

#showcase-container {
    width: 65vh;
    margin-top: -5%;
    font-size: 18px;
    color: #f2f5f7;

}

#showcase-container a {
    background-color: #f97f31;
    color: #FFFFFF;
}

#teste {
    background: #0b4978;
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

#teste:hover {
    background: #f97f31;
    color: white;
}



.showcase2 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/processos-gerenciais-1920x1024.jpg') no-repeat center center/cover;
}

#showcase-container2 {
    width: 65vh;
    margin-top: -20%;
    margin-left: -40%;
    font-size: 18px;
    color: #f97f31;

}

#seta {
    animation: flutuacao 10s ease-in-out infinite;
    margin-left: 50%;
    width: 250px;
}
@keyframes flutuacao {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-25px);
    }
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f5f7;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 100%;
    padding: 10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: #f97f31;
    top: -10px;
}
.box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #1a1a1a;
    top: -10px;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    background: white;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f97f31;
}
.left .content p{
    text-align: justify;
}
.center .content .fas{
    font-size: 23px;
    background: white;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: #f97f31;
}
.center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 17px;
    background: white;
    padding-left: 10px;
    border: 1px solid #f2f5f7;
}
.right form input{
    height: 35px;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #f2f5f7;
}
.right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color: black;
}

#btn {
    width: 100%;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 3px;
    background: #0b4978;
    color: white;
    transition: 0.3s;
}

#btn:hover {
    background: #f97f31;
    color: black;
}


.bottom .center{
    padding: 5px;
    font-size: 15px;
    background: #0b4978;
    text-align: center;
}
.bottom .center span{
    color: #f2f5f7;
}
.bottom .center a{
    color: #f97f31;
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    footer{
        position: absolute;
        width: 100%;
        height: 0vh;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}




